body {
	background-color: lightgray;
	color: white;
	margin: 0;
	font-family: 'League Gothic', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url(https://i.imgur.com/ast6Epeh.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
.resultscard {
	height: 500px;
	display: flex;
	float: left;
	width: 25%;
}
.listitem {
	display: flex;
	flex-wrap: wrap;
}
.title {
	text-align: left;
	width: 400px;
	text-shadow: 1px 1px 10px black;
}
.image {
	height: 400px;
	box-shadow: 0px 0px 20px 7px black;
}
.input {
	width: 35%;
}
.form {
	text-align: center;
	align-items: center;
	height: 4rem;
}
.enter {
	display: flex;
	flex-direction: column;
	text-align: center;
	text-shadow: 2px 2px 1px black;
}
.header {
	text-align: center;
	font-size: 30px;
	text-shadow: 3px 3px black;
	letter-spacing: -0.5px;
	font-weight: bolder;
}
.aboutme {
	text-align: center;
	display: inline;
	color: whitesmoke;
	text-shadow: 1px 1px 6px black;
}
.h1 {
	grid-row: 1;
	grid-column: 3 / span 2;
}
a {
	color: black;
	display: flex;
	justify-content: center;
}
* {
	box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
	.resultscard {
		width: 33%;
	}
}
@media screen and (max-width: 850px) {
	.resultscard {
		width: 50%;
		padding: 0 50px;
	}
}
@media screen and (max-width: 600px) {
	.resultscard {
		width: 100%;
		padding: 0 110px;
	}
	body {
		background-size: 125%;
	}
}
@media screen and (min-width: 1001px) {
	.form {
		margin-bottom: 15%;
	}
}
