body {
	background-color: black;
	color: white;
	margin: 0;
	font-family: 'League Gothic', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
.resultscard {
	height: 700px;
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
	grid-template-rows: 100px 1fr 1fr 1fr 1fr 100px;
}

.listitem {
	grid-row: 1 / span 4;
	grid-column: 3 / span 2;
}

.title {
	text-align: left;
}
.image {
	height: 500px;
	
}
.description {
	font-size: 20px;
	text-align: left;
	width: 350px;
}
.form {
	text-align: center;
}
.header {
	text-align: center;
	font-size: 30px;
}
.artist {
	text-align: center;
	grid-row: 5;
	grid-column: 2 / span 4;
}
.aboutmelink {
	color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.aboutme {
	text-align: center;
	width: 400px;
	display: flex;
	flex-direction: column;
}
